
.body{
    background-color: #f5f5f5;
    width: 100%;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: row;
    font-family: 'Raleway';
    font-weight: 600;
    height: 24px;
    margin-top: 30px;
    justify-content: space-around;
}
.header_services{
    display: flex;
    justify-content: center;
    font-weight: 500;
    height: 24px;
    gap: 8px;
}
.header_dev{
    text-align: center;
    border: 2px solid #191818;
    border-radius: 5px;
}
.header_noteboy{
    height: 110px;
    width: 110px;
    border: 2px solid black;
    border-radius: 110px;
    background-color: rgb(235, 234, 234);
    display: flex;
    justify-content: flex-end;
    border-color: rgb(235, 234, 234);
}
.conviction{
    width: 100%;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}
.conviction_main{
    width: 804px;
    height: 128px;
    left: 318px;
    top: 184px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
}
.conviction_additional{
    margin-top: 120px;
    width: 484px;
    height: 48px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    }
.message{
    display: flex;
    margin-top: 5%;
    width: 50px;
    height: 50px;
    background-color:#F1F1F1;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;
    text-align: center;
    border: 2px #F1F1F1;
    border-radius: 40px;
    padding: 12px;
    align-items:flex-end;
}
.link{
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5%;
}
.link_telega{
    width: 180px;
    height: 24px;
    background-color: #191818;
    border: 2px solid purple;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.link_videoprofil{
    border: 2px solid black;
    border-radius: 8px;
    background-color:white;
    margin-left: 20px;
    width: 150px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color:black;
}

.lightning_container{
    display: flex;
    justify-content: flex-end;
}
.lightning{
    align-items: flex-end;
    width: 60px;
    height: 60px;
    border: 2px #F1F1F1;
    border-radius: 60px;
    background-color: #F1F1F1;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */
    text-align: center;
    padding: 10px;
}
.main-inf_choice{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 30px;
    /* margin-left: 35%; */
    justify-content: center;
}
.main-inf_choice_all{
    width: 50px;
    height: 24px;
    border: 2px black;
    background-color:black;
    border-radius:14px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-decoration: none ;
    margin-right: 20px;
    color: #FFFFFF;
}
.main-inf_choice_site{
    width: 170px;
height: 24px;
border: 2px solid;
border-color:black;
border-radius: 15px;
background-color: rgb(255, 255, 255);
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-decoration: none;
text-align: center;
margin-right: 20px;

color: #181818;

}
.main-inf_choice_dev{
    width: 105px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 20px;
    color: #181818;
}
.main-inf_choice_design{
    width: 70px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    
    color: #181818;
}
.main-inf_imges{
    height: auto;
}
.main-inf_imges_frst-row{
    box-sizing: border-box;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    height: 460px;
}

.main-inf_imges_scnd-row{
   display:flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 50px;
}
.main-inf_imges_scnd-row_stereo{
    width: 560px;
    height: 400px;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    margin-right: 40px;
}
.main-inf_imges_scnd-row_Rem{
    width: 560px;
    height: 400px;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
}
.main-inf_imges_thrd-row{
    height: 544px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.main-inf_imges_frth-row{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}
.main-inf_imges_frth-row_diogram{

    height: 460px;
    border-radius: 20px;
    margin-right: 30px;
}
.main-inf_imges_frth-row_site-example{
    width: 560px;
    height: 460px;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
}
.self-inf{
    display: flex;
    margin-top: 120px;
    justify-content: center;
}
.self-inf_img{
    width: 400px;
    height: 560px;
    border-radius: 24px;
}
.self-inf_text{
    margin-left: 10%;
}
.self-inf_text_header{
    width: 478px;
    height: 64px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}
.self-inf_text_about-me{
    width: 484px;
    height: 168px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
}
.self-inf_text_experience{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
.self-inf_text_experience_site{
    margin-right: 50px;
}
.self-inf_text_experience_site_num{
    width: 41px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 24px;
}
.self-inf_text_experience_site_explanation{
    width: 100px;
height: 48px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
margin-top: 20px;

color: #181818;
}
.self-inf_text_experience_eff{
    margin-right: 50px;
}
.self-inf_text_experience_eff_num{
    width: 41px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}
.self-inf_text_experience_eff_explanation{
    width: 120px;
height: 48px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
margin-top: 20px;

color: #181818;
}
.self-inf_text_experience_ages_num{
    width: 41px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}
.self-inf_text_experience_ages_explanation{
    width: 100px;
    height: 48px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    margin-top: 20px;

    color: #181818;
}
.services{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: black;
    border: 2px solid rgb(172, 7, 172);
}
.services_header{
    display: flex;
    justify-content: center;
    height: 64px;
    margin-top: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.services_explan-cost{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-around;
    padding-bottom: 20px;
}
.services_explan-cost_tilda{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 8px;

    width: 330px;
    height: 384px;
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 16px;
}

.services_explan-cost_tilda_num{
    width: 288px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;

    opacity: 0.5;
}

.services_explan-cost_tilda_header{
    width: 288px;
    height: 24px;
    margin-top: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */


color: #181818;
}
.services_explan-cost_tilda_text{
    width: 288px;
    height: 96px;
    margin-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #181818;
}

.services_explan-cost_tilda_border{
    width: 80px;
    height: 0px;
    margin-top: 50px;
    opacity: 0.2;
    border: 1px solid #181818;
}

.services_explan-cost_tilda_cost{
    width: 288px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    margin-top: 40px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;
}

.services_explan-cost_web{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 8px;

    width: 330px;
    height: 384px;
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 16px;
}
.services_explan-cost_web_num{
    width: 288px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;

    opacity: 0.5;
}

.services_explan-cost_web_header{
    width: 288px;
    height: 24px;
    margin-top: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    color: #181818;
}
.services_explan-cost_web_text{
    width: 288px;
    height: 96px;
    margin-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #181818;
}

.services_explan-cost_web_border{
    width: 80px;
    height: 0px;
    margin-top: 50px;
    opacity: 0.2;
    border: 1px solid #181818;
}

.services_explan-cost_web_cost{
    width: 288px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    margin-top: 40px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;
}

.services_explan-cost_art{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 8px;

    width: 330px;
    height: 384px;
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 16px;
}

.services_explan-cost_art_num{
    width: 288px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;

    opacity: 0.5;
}

.services_explan-cost_art_header{
    width: 288px;
    height: 24px;
    margin-top: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */


    color: #181818;
}

.services_explan-cost_art_text{
    width: 288px;
    height: 96px;
    margin-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #181818;
}

.services_explan-cost_art_border{
    width: 80px;
height: 0px;
margin-top: 50px;
opacity: 0.2;
border: 1px solid #181818;
}

.services_explan-cost_art_cost{
    width: 288px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-top: 40px;
    color: #181818;
}

.calculus_header{
    display: flex;
    /* width: 500px; */
    height: 64px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    margin-top: 70px;
    /* margin-left: 36%; */
    letter-spacing: -0.02em;
    color: #181818;
    justify-content: center;
}

.calc-part{
    margin-top: 70px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.calc-part_timer{
    display: flex;
    justify-content:flex-start;
    width: 60px;
    height: 60px;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 60px;
    background-color: grey;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */
    margin-top: 30px;
    text-align: center;
}

.calc-part_noteboy{
    display: flex;
    width: 110px;
    height: 110px;
    justify-content:flex-end;
    margin-top: 250px;
    padding: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 110px;
    line-height: 110px;
    border: 2px solid grey;
    border-radius: 110px;
    background-color:grey;
}

.calc-table{
    display: grid;
    grid-template-rows: 25% 25% 25% 25% ;
    padding: 40px 24px;
    gap: 8px;
    align-items: center;
    height: 368px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.calc-table_work-type{
    width: 420px;
    height: 48px;
    margin-top: 20px;
    /* #fff white */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    gap: 10px;
    margin-left: 14px;
    background: #FFFFFF;
    border: 2px solid black;
    border-radius: 8px;
}
.calc-table_work-type_text{
    padding-top: 10px;
    width: 150px;
    height: 24px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.calc-table_work-type_mark{
    box-sizing: border-box;
    margin-right: 20px;
    width: 8px;
    height: 4px;
    padding: 15px;

}
.calc-table_work-size{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 5px;
gap: 10px;

width: 420px;
height: 48px;
border: 2px solid black;
border-radius: 8px;
margin-top: 30px;
margin-left: 14px;

/* #fff white */

background: #FFFFFF;
}

.calc-table_work-size_text{
    width: 250px;
    height: 24px;
    padding-bottom: 7px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* #808080 secondary black */
    
    color: #808080;
}

.calc-table_work-size_mark{
    box-sizing: border-box;
    margin-right: 20px;
    width: 8px;
    height: 4px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.calc-table_sign{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.calc-table_sign_border{
    box-sizing: border-box;
    width: 12px;
    height: 12px;
/* #808080 secondary black */
    margin-left: 15px;
    border: 1px solid #808080;
    border-radius: 3px;
}

.calc-table_sign_text{
    width: 331px;
    height: 48px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    margin-left: 50px;

    color: #181818;
}

.calc-table_cost-bot{
    width: 420px;
    height: 48px;
    border: 2px solid black;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    margin-left: 14px;
    padding-top: 20px;
    margin-top: 20px;
    }

    .estimate{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 24px;
    width: 400px;
    height: 384px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;
}

.estimate_header{
    width: 350px;
    height: 64px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
    /* identical to box height, or 200% */
    margin-top: 15px;
    letter-spacing: -0.02em;
    margin-left: 10%;
    color: #181818;
}

.estimate_cost{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10%;
}

.estimate_cost_text{
    width: 83px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #181818;
}

.estimate_cost_num{
    width: 120px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    
    color: #181818;
}

.estimate_term{
    display:flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 20px;
}

.estimate_term_text{
    width: 200px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #181818;
}

.estimate_term_num{
    width: 240px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    
    color: #181818;
}

.estimate_action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;

    width: 352px;
    height: 56px;
    margin-top: 20px;
    background: #181818;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.AA{
    width: 100%;
    height: 1242px;
    margin-top: 50px;
    background: #181818;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AA_header{
    display: flex;
    /* width: 360px; */
    height: 64px;
    /* margin-left: 40%; */
    margin-top: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    justify-content: center;
}

.AA_design{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 40px;
    gap: 24px;
    width: auto;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.AA_design_text{
    width: 260px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    
    color: #181818;
}

.AA_design_mark{
    width: 16px;
    height: 16px;
    font-weight:700; 
    
}

.AA_tilda{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    gap: 24px;
    width: auto;
    height: 360px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}
.AA_tilda_ask{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.AA_tilda_ask_text{
    width: 180px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    
    color: #181818;
}
.AA_tilda_expl{
    margin-top: 25px;
    padding: 10px;
    width: 800px;
    height: 216px;
    margin-top: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #181818;
}

.AA_term{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 40px;
    gap: 24px;
    width: auto;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.AA_term_text{
    width: 160px;
    height: 24px;
    padding: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    
    color: #181818;
}

.AA_term_mark{
    width: 16px;
    height: 16px;
    font-weight:700; 
}

.AA_pay{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 40px;
    gap: 24px;
    width: auto;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.AA_pay_text{
    width: 280px;
    height: 24px;
    padding: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    
    color: #181818;
}

.AA_pay_mark{
    width: 16px;
    height: 16px;
    font-weight:700; 
}

.AA_edits{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 40px;
    gap: 24px;
    width: auto;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.AA_edits_text{
    width: 360px;
    height: 24px;
    padding: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    
    color: #181818;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.AA_edits_mark{
    width: 16px;
    height: 16px;
    font-weight:700; 
}
.AA_extra{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 40px;
    gap: 24px;
    width: auto;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.AA_extra_text{
    width: 420px;
    height: 24px;
    padding: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    
    color: #181818;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.AA_extra_mark{
    width: 16px;
    height: 16px;  
    font-weight:700; 
}

.request{
    height: 600px;
    display: flex;
    flex-direction: column;
}
.request_top{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    justify-content: center;
}

.request_top_lightning{
    width: 40px;
    height: 40px;
    left: 30px;
    top: 34px;
    padding: 15px;
    border: 2px #F1F1F1;
    background-color: #F1F1F1;
    border-radius: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    margin-top: 80px;
    /* identical to box height, or 100% */
    margin-left: 5%;
    text-align: center;
    
    color: #000000;
    
}

.request_top_call{
    display: flex;
    flex-direction: column;
}

.request_top_call_header{
    width: 400px;
    height: 64px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */
    
    letter-spacing: -0.02em;
    
    color: #181818;    
}
.request_top_call_text{
    width: 430px;
    height: 24px;
    left: 524px;
    top: 6832px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    margin-top: 15px;
    
    color: #181818;    
}

.request_mid{
    margin-top: 70px;
    display: flex;
    flex-direction: row;

}

.request_mid_message{
    width: 40px;
    height: 40px;
    border: 2px #F1F1F1;
    background-color: #F1F1F1;
    padding: 15px;
    border-radius: 40px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 24px;
    /* identical to box height, or 43% */
    text-align: center;
    margin-left: 200px;
    
    color: #000000;
}

.request_mid_block{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 8px;
    width: 448px;
    height: 552px;
    margin-top: 70px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.request_mid_block_name{
    display: block;
    width: 390px;
    height: 48px;
    margin-top: 25px;

    /* #fff white */
    border: 2px solid #CCCCCC;
    background: #FFFFFF;
    border-radius: 8px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    padding: 5px;

    /* #808080 secondary black */

    color: #808080;
    
}

.request_mid_block_mail{

    width: 390px;
    height: 48px;
    margin-top: 15px;
    border: 2px solid #CCCCCC;
    /* #fff white */
    padding: 5px;
    background: #FFFFFF;
    border-radius: 8px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* #808080 secondary black */
    
    color: #808080;
}

.request_mid_block_serv{

    width: 390px;
    height: 48px;
    margin-top: 15px;

    /* #fff white */
    border: 2px solid #CCCCCC;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* #808080 secondary black */
    
    color: #808080;
}

.request_mid_block_comm{
    width: 390px;
    height: 160px;
    
    margin-top: 15px;
    border: 2px solid #CCCCCC;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* #808080 secondary black */
    
    color: #808080;
}

.request_mid_block_action{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 390px;
    height: 56px;
    padding: 5px;
    background: #181818;
    border-radius: 8px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
}

.request_mid_couple{
display: flex;
flex-direction: row;
justify-content: center;
}

.request_mid_social{
    margin-top: 70px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

.request_mid_social_fb{
    Width: 8.13px;
    Height: 14.63px;
}

.request_mid_social_tw{
    margin-top: 16px;
    Width:14.4px;
    Height:12.13px;
}

.request_mid_social_vk{
    margin-top: 16px;
    Width:16px;
    Height:10px;
}

.last-icons-location{
    display: flex;
    justify-content: space-between;
}
.request_mid_noteboy{
    width: 110px;
    height: 110px;
    margin-left: 70%;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 110px;
    line-height: 110px;
    /* identical to box height, or 100% */
    border: 2px #F1F1F1;
    border-radius: 110px;
    text-align: center;
    
    color: #000000;
}

/* @media(width:1400px){
    .services{
        width: 1400px;
    }
}    

@media(width:1000px){
    .services_explan-cost{
        flex-direction: column;
        height: 0 auto;
        padding-bottom: 40px;
        
    }
}    */

@media (max-width: 1340px){
    .services_explan-cost{
        flex-direction: column;
        align-items: center;
    }
    .AA_tilda_expl{
        width: 300px;
        font-size: 12px;
    }
    .AA{
        height: auto;
    }
    .AA_tilda{
        height: 480px;
    }
    
}
@media (max-width: 1180px){
    .self-inf{
        flex-direction: column;
        align-items:center;
    }
    .main-inf_imges {
        transform: scale(0.75);
        height: 1800px;
    }
}
@media (max-width: 900px) {
    .main-inf_imges {
        transform: scale(0.5);
        height: 1300px;
    }

}
@media (max-width: 800px) {
    .conviction_main{
        font-size: 38px;
    }
}
@media (max-width: 600px) {
    .AA_header{
        font-size: 32px;
        width: auto;

    }
    .AA_pay_text{
        font-size: 16px;
        width: auto;
    }
    .AA_term_text{
        font-size: 16px;
        width: auto;
    }
    .AA_extra_text{
        font-size: 16px;
        width: auto;
    }
    .AA_edits_text{
        font-size: 16px;
        width: auto;
    }
    .AA_design_text{
        font-size: 16px;
        width: auto;
    }
    
    .header_services{
        font-size: 12px;
    }
    
    
}